<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>个人排班信息</title>
</head>
<body>
<h1>张海鹰</h1>
<ul id="ulResult">
</ul>

<script language="javascript"  src="/js/jquery-1.11.1.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    
        $(function(){
            view();
        });

        function view(){
            var userId = 1;
            $.get("http://localhost:8080/schedule/view/"+userId+"", function(result){
                // alert("result = " + result.length);
                if(result.length == 0){
                    $("#ulResult").html("无记录.")
                }
                else{
                    var strText = "";
                    result.forEach(element => { 
                        var textStyle = element.isRest == 0 ? "" : "style='color: orange;'"
                        strText += "<li "+textStyle+">"+element.workDate+" | "+(element.isRest == 0 ? '上班' : '休息')+" </li>"
                    });
                    $("#ulResult").html(strText)
                }
                
            })
        }
        
</script>
</body>
</html>